/* Author: Rene Alzina */

/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #414141;
    color: #333;
    height: 100%;
    padding-bottom: 200px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #5816ae;    ;
    color: white;
    margin-bottom: 0;
}

.navbar .left {
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar .right {
    display: flex;
    gap: 2rem;
}

.navbar .right a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Dashboard */
.dashboard {
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction:  column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

/* Card */
.card {
    width: 40vw;
    background-color: rgb(63, 220, 160);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width: 400px;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 90)
}

.card-description {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.dashboard a:hover {
    background-color: rgb(237, 106, 106);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Pomodoro */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    background-color: navy;
    margin-top: 0;
    height: 15vh;
    margin-bottom: 20px;
}

.technique-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.technique-card {
    background-color: rgb(63, 220, 160);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: max-height 1s ease, padding 0.4s ease; 
    max-height: 28px; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: 20px;
    width: 81.3vw;
    max-width: 1010px;
    min-width: 549px;

}

.technique-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 90);
    align-self: center;
}

.technique-card-description{
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.technique-card .technique-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.technique-card .technique-card-description {
    font-size: 1rem;
    color: black;
    opacity: 0; 
    transition: opacity 0.3s ease /* Smooth fade-in with delay */
}

/* Hover Effect */
.technique-card:hover {
    max-height: 800px; 
}

.technique-card:hover .technique-card-description {
    opacity: 1; 
}

.technique-card:not(:hover) {
    transition: max-height 0.4s ease, padding 0.2s ease; /* Faster collapse */
}

.technique-card:not(:hover) .technique-card-description {
    opacity: 0; /* Fade out the text */
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80vw;
    min-width: 580px;
    max-width: 1000px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 10px;
}

.input-container button {
    width: 100px;
}

input {
    width: 50px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1rem;
    text-align: center;
}

#startButton {
    padding: 10px 20px;
    background-color: #5C6BC0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

#startButton:hover {
    background-color: #5816ae;
}

#stopButton {
    padding: 10px 20px;
    background-color: rgb(237, 106, 106);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
}

#stopButton:hover {
    background-color: #de3b3b;
}

#pauseButton {
    padding: 10px 20px;
    background-color: rgb(63, 220, 160);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pauseButton:hover {
    background-color: rgb(7, 204, 128);
}

.timer-display {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
}

/* Active recall */
textarea {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; 
    overflow: hidden;
    box-sizing: border-box;
}

.typing-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.typing-sub-container {
    background: navy;
    padding: 20px;
    min-width: 580px;
    max-width: 1040px;
    border-radius: 10px;
    width: 85.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.typing-title {
    color: white;
    font-weight: bolder;
    margin-left: 10px;
}

#dynamicTextarea {
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-sizing: border-box;
}

#exportButton {
    padding: 10px 20px;
    background-color: rgb(239, 164, 77);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    width: 100px;
    align-self: center;
    margin-top: 20px;
}

#exportButton:hover {
    background-color: #ee783d;
}

/* Feynmann */
#dynamicTextarea2 {
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin-top: 10px;
    box-sizing: border-box;
}

/* SQ3R */
#submitButton {
    padding: 10px 12px;
    background-color: rgb(63, 220, 160);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-left: 5px;
    align-self: center;
    margin-top: 20px;
}

#submitButton:hover {
    background-color: rgb(7, 204, 128);
}

#deleteButton {
    padding: 10px 20px;
    background-color: rgb(237, 106, 106);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    width: 100px;
    align-self: center;
    margin-top: 20px;
}

#deleteButton:hover {
    background-color: #de3b3b;
}

#questionApp {
    display: flex;
    flex-direction: column;
}

#questionsContainer {
    display: flex;
    flex-direction: column;
}

#resolvedContainer {
    display: flex;
    flex-direction: column;
}

.resolvedInput {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

/* Flashcards */
#flipButton {
    padding: 10px 20px;
    background-color: #5C6BC0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    width: 100px;
    align-self: center;
    margin-top: 20px;
}

#flipButton:hover {
    background-color: #5816ae;
}

#fileInput {
    display: flex;
    align-self: center;
    width: 100px;
}

#fileNameDisplay {
    color: white;
}

/* Contact us */
.form-container {
    background-color: rgb(63, 220, 160);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 660px;
    padding-top: 10px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    height: 600px;
    margin-top:0;
}

/* Background */
.background-text {
    /*background: white;*/
    display: flex;
    justify-content: center;
    padding: 30px;
}

.background-container {
    color: white;
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: auto;
    width: 80%;
}